<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    
<!--  Web Services xml/json datas over Restlet framework -->    
<servlet>
	<servlet-name>restlet-dispatcher</servlet-name>
	<servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
	<init-param>
		<param-name>org.restlet.application</param-name>
		<param-value>fr.eurecom.restlet.resources.gae.Dispatcher</param-value>
	</init-param>
</servlet>

<servlet-mapping>
		<servlet-name>restlet-dispatcher</servlet-name>
		<url-pattern>/contacts/*</url-pattern>
</servlet-mapping>

<!--  Hack does not support several url-patterns neither several servlet-mapping for same servlet-name -->
<servlet>
	<servlet-name>restlet-dispatcher-senml</servlet-name>
	<servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
	<init-param>
		<param-name>org.restlet.application</param-name>
		<param-value>fr.eurecom.restlet.resources.gae.DispatcherSenml</param-value>
	</init-param>
</servlet>
 
<servlet-mapping>
	<servlet-name>restlet-dispatcher-senml</servlet-name>
	<url-pattern>/senml/*</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>SystemServiceServlet</servlet-name>
	<servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
 	<init-param>
		<param-name>services</param-name>
   		<param-value/>
  		</init-param>
 </servlet>
 <servlet-mapping>
	  <servlet-name>SystemServiceServlet</servlet-name>
  	<url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
 

<!-- JSP SenML over Spring framework -->
 
<servlet>
        <servlet-name>spring-dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
</servlet>

<servlet-mapping>
        <servlet-name>spring-dispatcher</servlet-name>
        <url-pattern>/senmladmin/*</url-pattern>
</servlet-mapping>

<!-- Pushing mechanism -->
<servlet>
    <servlet-name>DeviceManager</servlet-name>
    <servlet-class>fr.eurecom.pushing.DeviceManager</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>DeviceManager</servlet-name>
    <url-pattern>/pushing/*</url-pattern>
</servlet-mapping>

<context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/spring-dispatcher-servlet.xml</param-value>
</context-param>

<listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
</listener>


<welcome-file-list>
	<welcome-file>index.html</welcome-file>
</welcome-file-list>

</web-app><!--  JUST FOR TEST TO REMOVE  
 <servlet>
	<servlet-name>test</servlet-name>
	<servlet-class>fr.eurecom.restlet.resources.gae.ResourcesServletGAE</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>test</servlet-name>
	<url-pattern>/testjdo</url-pattern>
</servlet-mapping>

-->