.\" $Id: mip6d.conf.tmpl 1.33 06/05/12 11:48:36+03:00 vnuorval@tcs.hut.fi $
.TH mip6d.conf 5 "January 31, 2006" "" "Mobile IPv6 and Proxy MIP and NEMO Daemon Configuration"
.SH NAME
mip6d.conf \- MIPL Mobile IPv6 and Proxy MIP and NEMO Configuration file
.SH SYNOPSIS
.B %etc%/mip6d.conf
.sp
.SH DESCRIPTION
MIPL Mobile IPv6 and Proxy MIP and NEMO daemon's configuration file
.P
Below is a list of currently supported configuration options. All
configuration lines are terminated with a semicolon.  Sub-sections are
enclosed in '{' and '}'.  Strings are quoted with double quotes.

.SH COMMON OPTIONS

The file contains the following common definitions:
.TP
.BR "include " """<pattern>"""

Includes content from other files based on provided pattern. Usual shell
wildcards are supported ('?', '*', '['). See man (7) glob for details. The
number of included files is virtually unlimited but only five levels of
recursion are authorized to prevent loops. Note that if given pattern
does not match any file, a simple warning is issued but parsing continues.
Unlike most configuration statements, no ';' is expected after the pattern.

Example: include "/etc/mip6d.conf.d/*.conf"


.TP
.BR "NodeConfig " "CN | HA | MN | MAG" ";"

Indicates if the daemon should run in Correspondent Node, Home Agent or
Mobile Node mode.

Default: CN

.TP
.BR "DebugLevel "  number ";"

Indicates the debug level of the daemon.  If the value is greater than
zero, the daemon will not detach from tty (i.e. debug messages will be
printed on the controlling tty).

Default: 0

.TP
.BR "DoRouteOptimizationCN " "boolean" ";"

Indicates if a node should participate in route optimization with a
Mobile Node.

Default: enabled

.TP
.BR "NonVolatileBindingCache " "boolean" ";"

This option is currently ignored.  Binding cache is always stored in
volatile memory, and is not retained between shutdown and startup.

.SH OPTIONS COMMON TO HOME AGENT AND MOBILE NODE

.TP
These options are used both in the Home Agent and Mobile Node:
.TP
.BR "Interface " "name" ";"
.TP
.nf
.BR "Interface " "name" " {"
.BR "	MnIfPreference " "number" ";"
.BR "	IfType " "CN | HA | MN | MAG" ";"
.BR "	Tunnel " "boolean" ";"
.B }
.fi

Specifies an interface and options associated with it.  If no options
are present, 
.B Interface
can be terminated with semi-colon.  This is used for home agent to
specify which interfaces are used for HA operation.  For the home
agent to function properly, a Router Advertisement daemon (e.g. radvd)
must broadcast advertisements with the Home Agent bit and Home Agent
Information Option set on these interfaces.  This option is also
used by multihomed Mobile Nodes to define which interfaces are used by
it. For MN and CN, it is posible to provide interfaces that are not
already available when the daemon is started. Those will be used when
available.

.B MnIfPreference
sets the interface preference value for an interface in a multi-homed
Mobile Node.  The most preferred interfaces have preference 1, the
second most preferred have 2, etc. Values between 0 and 10 are allowed.
A preference of zero means the interface will not be used.

The interface preference has a direct impact on the metric of default
routes configured by the daemon from RA information. Note that if two
interfaces with associated default routes have the same preference value,
the routes will end up having the same metric, except if different default
router preference (RFC 4191) values are provided in RA. In a sense,
MnIfPreference value value is the primary selector for interface and
default route selection and  default router preference value provided
in RA can then be used to break a tie.

Default: 10

.B IfType
overrides the default node behavior for this interface. If a MN doesn't
wish to use this interface for mobility, or a node doesn't act as HA on
this interface, the interface type should be set to CN.

Default: same as
.B NodeConfig

.B Tunnel

When enabled, this flag explicitly marks the interface as a tunnel
interface and modify the behavior of UMIP regarding the router
discovery, address configuration and route addition steps for the
interface. Those are expected to be done externally (manually or by
another automatic process (for instance when using a Teredo interface).
Note that the handling of routing via the interface is still partly
handled by UMIP but leaves some latitude to the user or the automatic
process that setup the interface. UMIP looks for default routes in the
main table that use the interface as output device and replaces them by
a default route with a proper preference. If a gateway was present for
the route (there is one for 6to4, but none when miredo is used), it is
kept in the new route. Other routes that are defined for the device
(including other default routes in other tables) are left untouched.

Limitations and details:

1) Tunnel interfaces are only allowed for MN and CN (not HA).

2) They are never considered as home link (i.e. you will never be at
home on a tunnel).

3) Unlike for physical interfaces, link detection is not reliable for
tunnel interfaces. If the tunnel interface state is directly dependent
of some physical interface link status, that status must be
monitored externally (i.e. not by UMIP) and reflected by having either
the interface being set down/up or address being removed/added for
UMIP to detect the change in interface configuration.

4) An address must be configured on the interface for it to be
selected. If no adress is available, UMIP will simply not consider the
interface at all (even if it provides a default route).

5) Routes that include specific sources are not considered by UMIP.

Example:

When using a teredo interface, the default route through the teredo
device is found and its preference changed. Link local routes are kept
unchanged. Address configuration is kept unmodified.

When using a 6to4 tunnel interface, a default route through the 6to4
device exists. It uses the 6to4 relay address (::192.88.99.1 anycast
address or another specific one) as gateway. UMIP finds this default
route and install a new default one with the same gateway but an
updated metric.

Default: disabled

.TP
.BR "UseMnHaIPsec " "boolean" ";"

Indicates if the MN-HA MIPv6 signalling should be protected with IPsec.

Default: enabled

.TP
.BR "KeyMngMobCapability " "boolean" ";"

If dynamic keying with MIPv6-aware IKE is used, this options should be
enabled.  It turns on the K-bit for binding updates and binding
acknowledgements.

Default: disabled

.TP
.nf
.BR "IPsecPolicySet {"
.BR "	HomeAgentAddress " "address" ";"
.BR "	HomeAddress " "address/length" ";"
.BR "	IPsecPolicy ..."
.BR "	...
.BR "}"
.fi

.B IPsecPolicySet
is a set of policies to apply for matching packets.  A policy set can
contain multiple
.B HomeAddress
options, but only one
.B HomeAgentAddress
option.  For home agent, home agent address field contains its own
address, and home address fields may contain any number of mobile
nodes for which the same policy applies.

.B IPsecPolicy
has the following format:

.TP
.BR "IPsecPolicy " "type " "UseESP" "number number" ";"

Field 
.B type 
can be one of HomeRegBinding, Mh, MobPfxDisc, ICMP, any, TunnelMh,
TunnelHomeTesting, or TunnelPayload.  The any option protects all
transport mode communication between the MN and HA.  Currently only
the ESP IPsec protocol is supported, but in the future AH and IPComp
might also be available.  The two remaining numeric fields are the
IPsec reqid values, the first one used for MN - HA, the second one for
HA - MN communication.  If just one value is defined, the same reqid
will be used in both directions.  If no reqid is given, reqid will not
be used.

If more that one IPsec transport mode or tunnel mode policy is defined
between the MN and HA in each direction, reqid can be used to provide
an unambiguous one-to-one mapping between IPsec policies and SAs.
Otherwise the policies will just share a common SA.

.SH LOCAL MOBILITY ANCHOR SPECIFIC OPTIONS

The following definitions are ignored unless the node is configured as a LMA:

.TP
.nf
.BR "ProxyMipLma " "configuration name " "{"
.BR "   RFC5213TimestampBasedApproachInUse "              "enabled" ";"
.BR "   RFC5213MobileNodeGeneratedTimestampInUse "        "disabled" ";"
.BR "   RFC5213FixedMAGLinkLocalAddressOnAllAccessLinks " "address" ";"
.BR "   RFC5213FixedMAGLinkLayerAddressOnAllAccessLinks " "MAC address" ";"
.BR "   RFC5213MinDelayBeforeBCEDelete "                  "decimal" ";"
.BR "   RFC5213MaxDelayBeforeNewBCEAssign "               "decimal" ";"
.BR "   RFC5213TimestampValidityWindow "                  "decimal" ";"
.BR "   LmaAddress "                                      "address" ";"
.BR "   LmaPmipNetworkDevice "                            "network device" ";"
.BR "   LmaCoreNetworkAddress "                           "address" ";"
.BR "   LmaCoreNetworkDevice "                            "network device" ";"
.BR "   RetransmissionTimeOut "                           "decimal" ";"
.BR "   MaxMessageRetransmissions "                       "decimal" ";"
.BR "   TunnelingEnabled "                                "enabled | disabled" ";"
.BR "   DynamicTunnelingEnabled "                         "enabled | disabled" ";"
 These 2 lines repeated for each declared MAG
.BR "   MagAddressIngress "                               "address" ";"
.BR "   MagAddressEgress "                                "address" ";"
.BR "}"
.fi


Each
.B ProxyMipLma
definition has a name. This is the name (enclosed in double quotes)
of the configuration used for the LMA, this will be used in future
releases, but it has to be filled. All the ProxyMipLma specific
definitions are detailed below:


.TP
.BR "RFC5213TimestampBasedApproachInUse " "enabled" ";"

This flag indicates whether or not the timestamp-based approach
for message ordering is in use in that Proxy Mobile IPv6 domain.
When the value for this flag is set to enabled, all the mobile
access gateways in that Proxy Mobile IPv6 domain MUST apply the
timestamp-based considerations listed in Section 5.5 of RFC5213.
When the value of this flag is set to disabled (NOT IMPLEMENTED),
sequence-number-based considerations listed in Section 5.5 of
RFC5213MUST be applied. The default value for this flag is set
to value of enabled, indicating that the timestamp-based mechanism
 is in use in that Proxy Mobile IPv6 domain.


.TP
.BR "RFC5213MobileNodeGeneratedTimestampInUse " "disabled" ";"

This flag indicates whether or not the mobile-node-generated
timestamp approach is in use in that Proxy Mobile IPv6 domain.
When the value for this flag is set to enabled (NOT IMPLEMENTED),
the local mobility anchors and mobile access gateways in that
Proxy Mobile IPv6 domain MUST apply the mobile node generated
timestamp considerations as specified in Section 5.5 of RFC5213.

This flag is relevant only when timestamp-based approach is in
use.  The value for this flag MUST NOT be set to value of enabled,
if the value of the TimestampBasedApproachInUse flag is set to
disabled.

.TP
.BR "RFC5213FixedMAGLinkLocalAddressOnAllAccessLinks " "address" ";"

This variable indicates the link-local address value that all the
mobile access gateways SHOULD use on any of the access links
shared with any of the mobile nodes in that Proxy Mobile IPv6
domain.  If this variable is initialized to ALL_ZERO value, it
implies the use of fixed link-local address mode is not enabled
for that Proxy Mobile IPv6 domain.

.TP
.BR "RFC5213FixedMAGLinkLayerAddressOnAllAccessLinks " "MAC address" ";"

This variable indicates the link-layer address value that all the
mobile access gateways SHOULD use on any of the access links
shared with any of the mobile nodes in that Proxy Mobile IPv6
domain.  For access technologies where there is no link-layer
address, this variable MUST be initialized to ALL_ZERO value.

.TP
.BR "RFC5213MinDelayBeforeBCEDelete " "decimal" ";"

This variable specifies the amount of time in milliseconds the
local mobility anchor MUST wait before it deletes a Binding Cache
entry of a mobile node, upon receiving a Proxy Binding Update
message from a mobile access gateway with a lifetime value of 0.
During this wait time, if the local mobility anchor receives a
Proxy Binding Update for the same mobility binding, with a
lifetime value greater than 0, then it must update the binding
cache entry with the accepted binding values.  By the end of this
wait-time, if the local mobility anchor did not receive any valid
Proxy Binding Update message for that mobility binding, it MUST
delete the Binding Cache entry.  This delay essentially ensures a
mobile node's Binding Cache entry is not deleted too quickly and
allows some time for the new mobile access gateway to complete the
signaling for the mobile node.

The default value for this variable is 10000 milliseconds.

.TP
.BR "LmaCoreNetworkDevice " "network device" ";"

Device name of the network interface on LMA host connected to core network domain.

.TP
.BR "RFC5213MaxDelayBeforeNewBCEAssign " "decimal" ";"

This variable specifies the amount of time in milliseconds the
local mobility anchor MUST wait for the de-registration message
for an existing mobility session before it decides to create a new
mobility session.

The default value for this variable is 1500 milliseconds.

Note that there is a dependency between this value and the values
used in the retransmission algorithm for Proxy Binding Updates.
The retransmissions need to happen before
MaxDelayBeforeNewBCEAssign runs out, as otherwise there are
situations where a de-registration from a previous mobile access
gateway may be lost, and the local mobility anchor creates,
needlessly, a new mobility session and new prefixes for the mobile
node.  However, this affects situations where there is no
information from the lower layers about the type of a handoff or
other parameters that can be used for identifying the mobility
session.

.TP
.BR "RFC5213TimestampValidityWindow " "decimal" ";"

This variable specifies the maximum amount of time difference in
milliseconds between the timestamp in the received Proxy Binding
Update message and the current time of day on the local mobility
anchor, that is allowed by the local mobility anchor for the
received message to be considered valid.

The default value for this variable is 300 milliseconds.  This
variable must be adjusted to suit the deployments.

.TP
.BR "LmaAddress " "address" ";"

Address is an IPv6 address, it is the address of the interface
connected to the same link where are connected MAGs egress interfaces.

.TP
.BR "LmaPmipNetworkDevice " "network device" ";"

Device name of the network interface on LMA host connected to PMIP
domain (MAG1, ... MAGn).

.TP
.BR "LmaCoreNetworkAddress " "address" ";"

Address is an IPv6 address, it is the address of the interface
connected to the core network.

.TP
.BR "LmaCoreNetworkDevice " "network device" ";"

Device name of the network interface on LMA host connected to
core network domain.

.TP
.BR "RetransmissionTimeOut " "decimal" ";"

While waiting for a message response, indicates the number of milli-seconds
the initial request will be delayed for retransmission

.TP
.BR "MaxMessageRetransmissions " "decimal" ";"

While waiting for a message response, indicates the number of times
the initial request will be transmitted.

.TP
.BR "TunnelingEnabled " "enabled | disabled" ";"

Must be set to "enabled".

.TP
.BR "DynamicTunnelingEnabled " "enabled | disabled" ";"

If enabled, then the creation (and deletion) of tunnel(s) between MAG(s) and LMA is on demand.

.TP
.BR "MagAddressIngress " "address" ";"

Address is an IPv6 address, it is the address of the interface
connected to the mobile network of a MAG.

.TP
.BR "MagAddressEgress " "address" ";"

Address is an IPv6 address, it is the address of the interface
connected to the PMIP network of a MAG.




.SH MOBILE ACCESS GATEWAY SPECIFIC OPTIONS

The following definitions are ignored unless the node is configured as a MAG:

.TP
.nf
.BR "ProxyMipMag " "configuration name " "{"
.BR "   RFC5213TimestampBasedApproachInUse "              "enabled" ";"
.BR "   RFC5213MobileNodeGeneratedTimestampInUse "        "disabled" ";"
.BR "   RFC5213FixedMAGLinkLocalAddressOnAllAccessLinks " "address" ";"
.BR "   RFC5213FixedMAGLinkLayerAddressOnAllAccessLinks " "MAC address" ";"
.BR "   RFC5213EnableMAGLocalRouting "                    "disabled" ";"
.BR "   LmaAddress "                                      "address" ";"
.BR "   MagAddressIngress "                               "address" ";"
.BR "   MagAddressEgress "                                "address" ";"
.BR "   MagDeviceIngress "                                "network device" ";"
.BR "   MagDeviceEgress "                                 "network device" ";"
.BR "   PBULifeTime "                                     "decimal" ";"
.BR "   RetransmissionTimeOut "                           "decimal" ";"
.BR "   MaxMessageRetransmissions "                       "decimal" ";"
.BR "   TunnelingEnabled "                                "enabled | disabled" ";"
.BR "   DynamicTunnelingEnabled "                         "enabled | disabled" ";"
.BR "   RadiusClientConfigFile "                          "path" ";"
.BR "   RadiusPassword "                                  "password" ";"
.BR "   PcapSyslogAssociationGrepString "                 "string" ";"
.BR "   PcapSyslogDeAssociationGrepString "               "string" ";"
.BR "}"
.fi

Each
.B ProxyMipMag
definition has a name. This is the name (enclosed in double quotes)
of the configuration used for the MAG, this will be used in future
releases, but it has to be filled. All the ProxyMipMag specific
definitions are detailed below:

.TP
.BR "RFC5213TimestampBasedApproachInUse " "enabled" ";"

This flag indicates whether or not the timestamp-based approach
for message ordering is in use in that Proxy Mobile IPv6 domain.
When the value for this flag is set to enabled, all the mobile
access gateways in that Proxy Mobile IPv6 domain MUST apply the
timestamp-based considerations listed in Section 5.5 of RFC5213.
When the value of this flag is set to disabled (NOT IMPLEMENTED),
sequence-number-based considerations listed in Section 5.5 of
RFC5213MUST be applied. The default value for this flag is set
to value of enabled, indicating that the timestamp-based mechanism
 is in use in that Proxy Mobile IPv6 domain.


.TP
.BR "RFC5213MobileNodeGeneratedTimestampInUse " "disabled" ";"

This flag indicates whether or not the mobile-node-generated
timestamp approach is in use in that Proxy Mobile IPv6 domain.
When the value for this flag is set to enabled (NOT IMPLEMENTED),
the local mobility anchors and mobile access gateways in that
Proxy Mobile IPv6 domain MUST apply the mobile node generated
timestamp considerations as specified in Section 5.5 of RFC5213.

This flag is relevant only when timestamp-based approach is in
use.  The value for this flag MUST NOT be set to value of enabled,
if the value of the TimestampBasedApproachInUse flag is set to
disabled.

.TP
.BR "RFC5213FixedMAGLinkLocalAddressOnAllAccessLinks " "address" ";"

This variable indicates the link-local address value that all the
mobile access gateways SHOULD use on any of the access links
shared with any of the mobile nodes in that Proxy Mobile IPv6
domain.  If this variable is initialized to ALL_ZERO value, it
implies the use of fixed link-local address mode is not enabled
for that Proxy Mobile IPv6 domain.

.TP
.BR "RFC5213FixedMAGLinkLayerAddressOnAllAccessLinks " "MAC address" ";"

This variable indicates the link-layer address value that all the
mobile access gateways SHOULD use on any of the access links
shared with any of the mobile nodes in that Proxy Mobile IPv6
domain.  For access technologies where there is no link-layer
address, this variable MUST be initialized to ALL_ZERO value.

.TP
.BR "RFC5213EnableMAGLocalRouting " "disabled" ";"

This flag indicates whether or not the mobile access gateway is
allowed to enable local routing of the traffic exchanged between a
visiting mobile node and a correspondent node that is locally
connected to one of the interfaces of the mobile access gateway.
The correspondent node can be another visiting mobile node as
well, or a local fixed node.
The default value for this flag is set to a value of disabled,
indicating that the mobile access gateway MUST reverse tunnel all
 the traffic to the mobile node's local mobility anchor.

When the value of this flag is set to a value of enabled, the
mobile access gateway MUST route the traffic locally.

This aspect of local routing MAY be defined as policy on a per
mobile basis and when present will take precedence over this flag.


.TP
.BR "LmaAddress " "address" ";"

Address is an IPv6 address, it is the address of the interface
connected to the same link where are connected MAGs egress interfaces.

.TP
.BR "MagAddressIngress " "address" ";"

Address is an IPv6 address, it is the address of the MAG egress interface.
(Connected to the mobile network side). This option must be included
in a ProxyMipMag definition.

.TP
.BR "MagAddressEgress " "address" ";"

Address is an IPv6 address, it is the address of the interface
connected to the PMIP network.

.TP
.BR "MagDeviceIngress " "network device" ";"

Device name (for example eth1) of the ingress network interface.

.TP
.BR "MagDeviceEgress " "network device" ";"

Device name (for example eth0) of the Egress network interface.

.TP
.BR "PBULifeTime " "decimal" ";"

Indicates to LMA how many milli-seconds the Binding is valid, it will
have to be refreshed before the expiration of this value, otherwise
the Binding will be deleted.

.TP
.BR "RetransmissionTimeOut " "decimal" ";"

While waiting for a message response, indicates the number of milli-seconds
the initial request will be delayed for retransmission.

.TP
.BR "MaxMessageRetransmissions " "decimal" ";"

While waiting for a message response, indicates the number of times
the initial request will be transmitted.

.TP
.BR "TunnelingEnabled " "enabled | disabled" ";"

Must be set to "enabled".

.TP
.BR "DynamicTunnelingEnabled " "enabled | disabled" ";"

Must be set to "disabled", dynamic tunneling will be fully implemented soon.

.TP
.BR "RadiusClientConfigFile " "path" ";"

The path to the radius client config file.

.TP
.BR "RadiusPassword " "password" ";"

Radius password for authenticating on the radius server.

.TP
.BR "PcapSyslogAssociationGrepString " "string" ";"

String that should match the syslog message coming from an access point saying
a mobile node has associated with the access point. The grep string should end
just before the first MAC address string (for example 00:11:22:33:44:55).

.TP
.BR "PcapSyslogDeAssociationGrepString " "string" ";"

String that should match the syslog message coming from an access point saying
a mobile node has de-associated with the access point. The grep string should
end just before the first MAC address string (for example 00:11:22:33:44:55).


.SH HOME AGENT SPECIFIC OPTIONS

The following definitions are ignored unless the node is configured as a HA:

.TP
.BR "HaMaxBindingLife " "number" ";"

Limits the maximum lifetime (in seconds) for Mobile Node home registrations.

Default: 262140

.TP
.BR "SendMobPfxAdvs " "boolean" ";"

Controls whether home agent sends Mobile Prefix Advertisements to
mobile nodes in foreign networks.

.TP
.BR "SendUnsolMobPfxAdvs " "boolean" ";"

Controls whether home agent send unsolicited Mobile Prefix
Advertisements to mobile nodes in foreign networks.

.TP
.BR "MinMobPfxAdvInterval " "number" ";"

Sets a minimum interval (in seconds) for Mobile Prefix Advertisements.

Default: 600

.TP
.BR "MaxMobPfxAdvInterval " "number" ";"

Sets a maximum interval (in seconds) for Mobile Prefix Advertisements.

Default: 86400

.TP
.BR "HaAcceptMobRtr " "enabled | disabled" ";"

Indicates if the HA accepts Mobile Router bindings.

Default: disabled;

.TP
.BR "HaServedPrefix " "prefix/length" ";"

Prefix is an IPv6 prefix and length is the prefix length. Defines the whole
aggregated or extended prefix the HA serves. This option is only used for MR
bindings and is only needed if the MRs derive their Home Addresses from their
Mobile Network Prefixes, instead of one of the home link prefixes.

.TP
.BR "BindingAclPolicy " "address " "MNP-list " "allow | deny" ";"

Defines if a MN is allowed to register with the HA or not. The home address
of the MN is given in the address field.  The mobile network prefixes
belonging a NEMO Mobile Router are listed in the MNP list. The list can either
be an empty string or a comma separated list of network prefixes
enclosed in braces, for example:
.B "(3ffe:2620:6:3::/64, 3ffe:2620:6:4::/64)"

.TP
.BR "DefaultBindingAclPolicy " "allow | deny" ";"

Defines the default policy if no matching BindingAclPolicy entry is found for
a MN.

Default: allow

.SH MOBILE NODE SPECIFIC OPTIONS

The following definitions are ignored unless the node is configured as a MN:

.TP
.BR "MnMaxHaBindingLife " "number" ";"

Limits the maximum lifetime (in seconds) for Mobile Node home registrations.

Default: 262140

.TP
.BR "MnMaxCnBindingLife " "number" ";"

Limits the maximum lifetime (in seconds) for Mobile Node Correspondent
Node registrations.

Default: 420

.TP
.BR "MnDiscardHaParamProb " "boolean" ";"

Toggles if the Mobile Node should discard ICMPv6 Parameter Problem messages
from its Home Agent.  As the ICMPv6 error messages won't normally be protected
by IPsec, a malicious third party can quite easily impersonate the HA to the
MN.  Having the MN accept these messages therefore leaves it open to Denial
of Service attacks, even though its home registration signalling is protected
by IPsec.

Default: disabled

.TP
.BR "SendMobPfxSols " "boolean" ";"

Controls whether mobile node sends Mobile Prefix Solicitations to the
home network.

.TP
.BR "DoRouteOptimizationMN " "boolean" ";"

Indicates if the Mobile Node should initialize route optimization with
Corresponent Nodes.

Default: enabled

.TP
.BR "MnUseAllInterfaces " "enabled | disabled" ";"

Indicates if all interfaces should be used for mobility.  The preference
of these interfaces is always 1.  Unless you use dynamically created and
named network interfaces you should normally disable this option and use
.B Interface
options to explicitly list the used interfaces. 

Default: disabled

.TP
.BR "MobRtrUseExplicitMode " "enabled | disabled" ";"

Toggles between explicit or implicit mode home registrations in the MR.

Default: enabled

.TP
.BR "UseCnBuAck " "boolean" ";"

Indicates if the Acknowledge bit should be set in Binding Updates sent to
Corresponent Nodes.

Default: disabled

.TP
.BR "MnRouterProbes " "number" ";"

Indicates how many times the MN should send Neighbor Unreachability
Detection (NUD) probes to its old router after receiving a Router
Advertisement (RA) from a new one. If the option is set to zero or
the new router advertises a strictly higher default preference value
than the old one (as defined in RFC 4191), the MN will move to the new
router straight away.

Default: 0

.TP
.BR "MnRouterProbeTimeout " "decimal" ";"

Indicates how long (in seconds) the MN should wait for a reply during
a access router Neighbor Unreachability Detection probe.  If set, it
overrides any default Neighbor Solicitation Retransmit Timer value
greater than MnRouterProbeTimeout.  For example, if the interface
Retransmit Timer is 1 second, but MnRouterProbeTimeout is just 0.2
seconds, the MN will only wait 0.2 seconds for a Neighbor Advertisement
before proceeding with the handoff.

Default: 0

.TP
.BR "OptimisticHandoff " "enabled | disabled" ";"

When a Mobile Node sends a Binding Update to the Home Agent, no Route
Optimized or reverse tunneled traffic is sent until a Binding
Acknowledgement is received. When enabled, this option allows the
Mobile Node to assume that the binding was successful right after the
BU has been sent, and does not wait for a positive acknowledgement
before using RO or reverse tunneling.

Default: disabled;

.TP
.nf
.BR "MnHomeLink " "name " "{"
.BR "	HomeAddress " "address/length MNP list" ";"
.BR "	HomeAgentAddress " "address" ";"
.BR "	MnRoPolicy ..."
.BR "	..."
.BR "}"
.fi

Each 
.B MnHomeLink 
definition has a name.  This is the name (enclosed in double quotes)
of the interface used for connecting to the physical home link.  To
set up multiple Home Addresses on the Mobile Node, you need to define
multiple
.B MnHomeLink
structures.  The interface names don't have to be unique in these
definitions.  All the home link specific definitions are detailed below: 

.TP
.BR "HomeAddress " "address/length MNP list" ";"

Address is an IPv6 address, and length the prefix length of the
address, usually 64.  The MNP list contains the mobile network prefixes
belonging to that particular NEMO Mobile Router. The MNP list is of the
same format as in
.B "BindingAclPolicy."
This option must be included in a home link definition.

.TP
.BR "HomeAgentAddress " "address" ";"

Address is the IPv6 address of the Mobile Node's Home Agent. DHAAD is used
if it is the unspecified address ::.

Default: ::

.TP
.BR "IsMobRtr " "enabled | disabled" ";"

Defines if the MN is a NEMO MR.

Default: disabled

.TP
The route optimization policies are of the form:

.TP
.BR "MnRoPolicy " "address boolean" ";"

Any number of these policies may be defined. If no policies are defined default
behavior depends on the
.B DoRouteOptimizationMN
option.

The fields for a route optimization policy entry are as follows: 
.B address
defines the Correspondent Node this policy applies to, if left
undefined the uspecified address is used as a wildcard value 
.B boolean
sets route optimization either enabled or disabled for packets
matching this entry.

.SH EXAMPLES

.TP
.BR "A NEMO Home Agent example:"

.nf
NodeConfig HA;

Interface "eth0";

HaAcceptMobRtr enabled;

HaServedPrefix 3ffe:2620:6::/48;

DefaultBindingAclPolicy deny;
BindingAclPolicy 3ffe:2620:6:1::1234 (3ffe:2620:6:2::/64, 3ffe:2620:6:3::/64) allow;
BindingAclPolicy 3ffe:2620:6:1::1235 allow;

UseMnHaIPsec disabled;
.fi

.TP
.BR "A NEMO Mobile Router example:"

.nf
NodeConfig MN;

DoRouteOptimizationCN disabled;
DoRouteOptimizationMN disabled;

Interface "eth0";

MnRouterProbes 1;

MobRtrUseExplicitMode enabled;

MnHomeLink "eth0" {
        IsMobRtr enabled;
        HomeAgentAddress 3ffe:2620:6:1::1;
        HomeAddress 3ffe:2620:6:1::1234/64 (3ffe:2620:6:2::/64, 3ffe:2620:6:3::/64);
}

UseMnHaIPsec disabled;
.fi

.TP
.BR "A Correspondent Node example:"

.nf
NodeConfig CN;

DoRouteOptimizationCN enabled;
.fi

.TP
.BR "A Home Agent example:"

.nf
NodeConfig HA;

Interface "eth0";
Interface "eth1";

UseMnHaIPsec enabled;

IPsecPolicySet {
        HomeAgentAddress 3ffe:2620:6:1::1;

        HomeAddress 3ffe:2620:6:1::1234/64;
        HomeAddress 3ffe:2620:6:1::1235/64;

        IPsecPolicy HomeRegBinding UseESP;
        IPsecPolicy TunnelMh UseESP;
}
.fi

.TP
.BR "A Mobile Node example:"

.nf
NodeConfig MN;

DoRouteOptimizationCN enabled;

DoRouteOptimizationMN enabled;

UseCnBuAck enabled;

MnHomeLink "eth0" {
        HomeAgentAddress 3ffe:2620:6:1::1;
        HomeAddress 3ffe:2620:6:1::1234/64;

        #			address			opt.
        #MnRoPolicy	3ffe:2060:6:1::3	enabled;
        #MnRoPolicy					disabled;
}

UseMnHaIPsec enabled;

IPsecPolicySet {
        HomeAgentAddress 3ffe:2620:6:1::1;
        HomeAddress 3ffe:2620:6:1::1234/64;

        IPsecPolicy HomeRegBinding UseESP;
        IPsecPolicy TunnelMh UseESP;
}
.fi

.SH SEE ALSO
.BR mip6d (1),
.BR mipv6 (7),
.PP
RFC3775: Mobility Support in IPv6,
.PP
RFC3776: Using IPsec to Protect Mobile IPv6 Signaling Between Mobile
Nodes and Home Agents
