.\" $Id: mip6d.tmpl 1.4 05/05/16 13:13:41+03:00 anttit@tcs.hut.fi $
.TH mip6d 1 "May 16, 2005" "" "Mobile IPv6 and Proxy MIP and NEMO Daemon"
.SH NAME
mip6d \- MIPL Mobile IPv6 and Proxy MIP and NEMO Basic Support protocol implementation
.SH SYNOPSIS
.B mip6d [options]
.sp
.SH DESCRIPTION

Mobile IPv6 and Proxy MIP and NEMO Basic Support implementation

.SH OPTIONS
.IP "\fB\-V, \-\-version\fP"
Display version information and copyright
.IP "\fB\-?, \-h, \-\-help\fP"
Display this help text
.IP "\fB\-c <file>\fP"
Read configuration from <file>.  If option is not present, default
path (%etc%/mip6d.conf) is used.
 
.PP
These options override values read from config file:
.IP "\fB\-d <number>\fP"
Set debug level (0-10)
.IP "\fB\-C, \-\-correspondent-node\fP"
Node is CN
.IP "\fB\-H, \-\-home-agent\fP"
Node is HA
.IP "\fB\-M, \-\-mobile-node\fP"
Node is MN

.SH FILES

%etc%/mip6d.conf

.SH SEE ALSO
.BR mip6d.conf (5),
.BR mipv6 (7),
.PP
RFC3775: Mobility Support in IPv6,
.PP
RFC3776: Using IPsec to Protect Mobile IPv6 Signaling Between Mobile
Nodes and Home Agents
.PP
RFC3963: Network Mobility (NEMO) Basic Support Protocol
.PP
RFC5213: Proxy Mobile IPv6.
