.\" $Id: mipv6.tmpl 1.1 03/11/24 11:32:14+02:00 anttit@tcs.hut.fi $
.TH MIPV6 7 2003-12-24 "Linux Man Page" "Linux Programmer's Manual"
.SH NAME
mipv6 \- Linux Mobile IPv6 protocol extensions
.SH SYNOPSIS
.B #include <netinet/in.h>
.br
.B #include <netinet/ip6.h>
.br
.B #include <netinet/icmp6.h>
.br
.B #include <netinet/ip6mh.h>
.sp
.SH DESCRIPTION
Linux 2.6 optionally implements extensions for Mobile IPv6 protocol in
the IPv6 stack.  This man page describes extensions to the IPv6 API,
proposed in draft-chakrabarti-mobileip-mipext-advapi-02.
