/*
Based on a css from http://www.templatemo.com
*/

body{ 
	margin: 0;
	padding: 0;
	color: #555;
	font-size: 12px;
	line-height: 1.6em; 
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color: #c7c8c1;
	background-image:  url(../images/noisy_grid.png);
	background-repeat: repeat;
	width: 100%:
}

a, a:link, a:visited { 
	color: #525111; 
	font-weight: normal; 
	text-decoration: none; 
}

a:hover { 
	text-decoration: underline; 
}

ul, li {
	padding:0;
	margin:0;
	list-style:none;
}

h1, h2, h3, h4, h5, h6 { color: #525111; font-weight: normal; }
h1 { font-size: 36px; margin: 0 0 30px; padding: 5px 0 }
h2 { font-size: 24px; margin: 0 0 25px; padding: 5px 0 }
h3 { font-size: 20px; margin: 0 0 20px; padding: 0; }
h4 { font-size: 16px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 14px; margin: 0 0 10px; padding: 0;  }
h6 { font-size: 12px; margin: 0 0 5px; padding: 0; font-weight: 700 }

p { 
	padding: 0; 
	margin: 0 0 15px 0; 
}

#zone-table 
{
        margin: 0;
        width: 98%;
        text-align: left;
        border-collapse: collapse;
        font-size: 16px;
       	border-top: 1px solid #525111;
        border-bottom: 1px solid #525111;
        border-right: 1px solid #525111;
        border-left: 1px solid #525111;        
}
#zone-table thead
{
        padding: 8px 2px;
        font-weight: bold;
        font-size: 16px;
/*       	border-top: 1px solid #525111; 
        border-bottom: 1px solid #525111;
        border-right: 1px solid #525111;
        border-left: 1px solid #525111; 
*/
        border-bottom: 1px solid #525111;

}

#zone-table td
{
		color: #000;
        padding: 12px 2px 0px 2px;
        font-weigth: normal;
        font-size: 16px;
/*        border-right: 30px solid #fff;
        border-left: 30px solid #fff;
*/        
}

#sensor td
{
        border-top: 1px solid #525111;
}

#measure td 
{
		color: #000;
        padding: 0px 5px 5px 5px;		
        font-weigth: normal;
        font-size: 14px;
}

#zone-table caption
{
	font-size: 18px;
	font-weight: bold; 
    padding: 8px 2px;
	color:#525111; 	
}


.clear{
	clear:left;
}


cite { 
	font-size: 14px;
	color:#525111; 
}


.list_bullet { 
	margin: 10px 0 10px 15px; 
	padding: 0; 
	list-style: none; 
}

.no_bullet { 
	margin: 0; 
	padding: 0; 
	list-style: none; 
}

.no_bullet li { 
	margin: 0 0 20px 0; 
	padding: 0; 
}

a.header { 
	display: block; 
	font-weight: 700; 
}

.half { 
	width: 360px; 
}

.col_175 { 
	width: 175px; 
}

.h10 { height: 10px }
.h20 { height: 20px }
.h40 { height: 40px }

.img { 
	margin: 0; 
	padding: 0;
}

.left { 
	float: left; 
}

.right { 
	float: right; 
}

#template_header {
	width: 100%;
	min-height: 110px;
	padding: 40px 20px 20px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 40px;
}

#template_main {
	width: 100%;
	margin: 0 auto;
	padding: 0 10px;
	overflow: hidden;
	text-align: center;
}

#template_footer {
	width: 100%;
	margin: 0 auto;
	padding: 20px 20px;
	text-align: center;
}

#zone_form {
	padding: 0; 
	width: 100%;
}

#zone_form form { 
	margin: 0px; 
	padding: 0px; 
}


#contact_form { 
	padding: 0; 
	width: 365px; 
}

#contact_form form { 
	margin: 0px; 
	padding: 0px; 
}

#contact_form form .input_field { 
	width: 163px; 
	padding: 5px; 
	color: #000; 
	border: 1px solid #adada3;  
	background: #e9e9e9;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	margin-top: 5px;
}

#contact_form form label { 
	display: block;
	font-size: 11px; 
}

#contact_form form textarea { 
	width: 353px; 
	height: 110px; 
	padding: 5px; 
	color: #000;
	border: 1px solid #adada3;  
	background: #e9e9e9;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	margin-top: 5px;
}

#contact_form form .submit_btn { 
	font-size: 12px;
	color: #000; 
	border: 1px solid #adada3;  
	background: #e9e9e9; 
	padding: 5px 14px; 
	margin: 10px 0px;
}

.hidden {
    display: none;
}
